body {
    margin: 0; 
        padding: 0; 
}
.header {
    width: 100%;
}
.site-header {
width: 100%;
background-color: white;
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
position: fixed;
top: 0;
left: 0;
z-index: 1000;

}
.header-inner {
   display: flex;
    justify-content: space-between;
    margin: 0 36px 0 36px;
    max-width: 100%;
    position: relative;

}

.header-logo{
 align-self: center;

}
.header-pc {
    display: block;
    height: 20px;
    width: auto;
}

.header-sp{
  display: none;
  height: 16px;
  width: auto;
}
/*メニュ-*/
@media screen and (max-width: 1080px) {
    .headerhamburger {
        cursor: pointer;
        display: block;
        position: relative;
        width: 24px;
        height: 17px;
        margin: auto;
        z-index: 100;
    }
        .hamburger-line:first-child {
        top: 0;
    }
       .hamburger-line{
        position: absolute;
        top: 50%;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #A2A2A4;
        transform: translate(0, -50%);
        border-radius: 10px;
        transition: top 0.2s, transform 0.2s, opacity 0.3s;
    }

       .hamburger-line:last-child {
        top: 100%;
    }

.header-inner{
  margin: 0 16px;
}

.header-pc{
  display: none;
}
.header-sp{
  display: block;
}
.site-nav ,.nav-list{
  display: none;
}

}



.nav-list {
display: flex;
list-style: none;
align-items: center;
justify-content: space-between;

}

.nav-item{
 margin-right: 45px;
}


.nav-link{
  text-decoration: none;
    color: #333;
   

}


.nav-link>span:first-child {
    font-family: "Lato", sans-serif;
    font-size: 12px;
  line-height: 14.4px; 


}

.nav-link>span:last-child {
    font-size: 10px;
}

.nav-link span {
    display: block;/*縦に並べる*/
    font-weight: 700;
    text-align: center;
        margin: 0;
    padding: 0;

}

.header-inner>*:last-child {
    display: inline-flex
;
}

/* 他のリンクと区別する */
.nav-item.contact a {
font-size: 14px;
background-color: #f79214; /* オレンジっぽい色 */
color: #fff;
padding: 0 20px;
border-radius: 38px; /* 角を丸くする */
display:flex;
height: 40px;
text-align: center;
justify-content: center;
width: 100%;
font-weight: 700;
align-items: center;

}

/* ホバー時のエフェクト */
.nav-item.contact a:hover {
background-color: #ffae42; /* 少し明るく */
}

.headerhamburger {
display: none;
}


/*PCファーストビュー*/


.firstview {
    position: relative;
    height: 739px;
}
.firstview-left, 
.firstview-right, 
.firstview-circle, 
.firstview-main {
    position: absolute; 
    /* デフォルトで画像を画面外にはみ出させない */
    max-width: none; 
}

.firstview-left{
    top: -70px;
    left: 0;
}
.firstview-right{
      right: 0;
    bottom: 70px;
  }
  .firstview-circle{
    top: 84px;
    left: -70px;
  }
  .firstview-main{

    top: -70px;
    right: 0;
    width: 775px;
  }
.firstview-mainsp{
  display: none;
}

  .firstview-container {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 219px;
}

.firstviewcontent{
    position: relative;
    width:fit-content;
}

.firstviewcontent-title{
    color: #333;
    font-family: "Lato", sans-serif;
    font-size: 42px;
    font-weight: 800;
    line-height: 63px;
    margin-bottom: 16px;
    margin-top: 0;

  
}

.firstviewcontent-badge{
  position: absolute;
  top: -110px;
  right: -180px;

}

.firstview-button{
  align-items: center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    margin-bottom: 16px;
    width: 380px;
}

.firstview-capsion{
  font-size: 12px;
  line-height: 16px;
      color:#333;

}


/*ヘッダーモバイル（ナビメニュー）*/

@media (max-width: 768px) {

.site-header{
padding: 15px 0px;
}
  .header-inner  {
        max-width: 100%;
        margin:16px;
        
    }


.header-pc{
  display: none !important; 
}
.site-nav .nav-list{
        display: none;
    }
    .headerhamburger {
        display: block; 
        /* ...その他のスタイル... */
    }

/*モバイルファーストビュー*/
.firstview{
  height: fit-content;
}
.firstview-container {
        padding-top: 0;
        padding-bottom: 20px;
        max-width: none;
        padding-left: 16px;
        padding-right: 16px;
}
.firstviewcontent-title {
        font-size: 22px;
        line-height: 36px;
        position: relative;
        width: fit-content;
}
.firstviewcontent-badge{
height: 102px;
        width: 102px;
        top: -20px;
        right: -110px;}

.firstview-button{
width: 100% !important;}

.firstview-left, 
.firstview-right, 
.firstview-circle, 
.firstview-main {
    display: none;
}
.firstview-mainsp{
  display: block;
        margin-bottom: 7px;
        width: 100%;}
}